<!--start about-panel-->
<section class="about-panel layout-wrapper content-wrapper">
    <!--start about-->
    <div class="about">
        <div class="layout-container">
            <aside class="layout-sm-11 layout-md-7 about-content">
                <h2 class="bold"><span>Guns and roses</span>Our guns are loaded. Get set to be hit with bullets of creativity.</h2>
                <div class="toobler-uxdots">
                    <a href="//www.toobler.com"><img src="images/toobler-white.png" alt=""></a> <cite></cite> <span class="icon-logo"></span>
                </div>
<p>UXDots is a subsidiary and a resolute wing of Toobler Technologies exclusively for design and front-end development running with the core ideology, empowerment. </p>
                <p>We, UXDots, believe in the creed, digital transformation. Our proficient heads always put their brain mated with creativity to ensure utmost perfection in detail in each and every art we pull out. Redefinition is the key element we follow rather than following the traditional patterns. We break the rules and always project refreshed faces in the works we commit. </p>
            </aside>
            <div class="layout-sm-5 hide-mobile hide-only-sm">
                <aside class="img-about">
                    <img src="images/img-about.png" alt="">
                </aside>
            </div>
        </div> 
    </div>
    <!--end about-->
    <!--about page process start-->
        <div class="aboutpage-process layout-wrapper" ng-if="desktopScreen">
            <div class="about-process plan layout-sm-3">
                <span class="bg-aboutpage-process"></span>
                <figure>
                    <img src="images/about/about-image-01.jpg" alt="">
                </figure>
                <h3>WE PLAN<span></span></h3>
            </div>
            <div class="about-process create layout-sm-3">
                <span class="bg-aboutpage-process"></span>
                <figure>
                    <img src="images/about/about-image-02.jpg" alt="">
                </figure>
                <h3>WE CREATE<span></span></h3>
            </div>
            <div class="about-process analyze layout-sm-3">
                <span class="bg-aboutpage-process"></span>
                <figure>
                    <img src="images/about/about-image-03.jpg" alt="">
                </figure>
                <h3>WE ANALYZE<span></span></h3>
            </div>
            <div class="about-process result layout-sm-3">
                <span class="bg-aboutpage-process"></span>
                <figure>
                    <img src="images/about/about-image-04.jpg" alt="">
                </figure>
                <h3>GET RESULTS<span></span></h3>
            </div>
        </div>
    <!--about page process end-->
    <!--about services start-->
    <div class="services layout-wrapper">
        <div class="layout-container">
            <div class="layout-wrapper">
                <aside class="layout-sm-6 pull-right-sm">
                    <div class="content-half-block">
                        <h3 class="title">Services</h3>
                        <h4>We’re abundant just for the following artistic values</h4>
                        <p>Looking to create an enhanced front face to the online platform you hold? Doesn’t matter how complex things are. We’ll knock out.</p>
                    </div>
                </aside>
                <div class="layout-sm-6 block-wrap">
                    <div class="block hide-mobile"></div>
                    <div class="stripe white">
                        <div class="deg left">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="block web-design layout-xs-6">
                        <div class="item-center">
                            <img alt="" src="images/block-icons/icon-webdesign.png">
                            <div class="block-text">WEB DESIGN</div>
                        </div>
                    </div>
                    <div class="block mobileapp-design layout-xs-6 hide-sm">
                        <div class="item-center">
                            <img alt="" src="images/block-icons/ico-mobileapp.png">
                            <div class="block-text">MOBILE APP DESIGN</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layout-wrapper block-wrap">
                    <div class="block mobileapp-design layout-xs-6 layout-sm-3 hide-mobile">
                        <div class="item-center">
                            <img alt="" src="images/block-icons/ico-mobileapp.png">
                            <div class="block-text">MOBILE APP DESIGN</div>
                        </div>
                    </div>
                 <div class="block branding layout-xs-6 layout-sm-3">
                    <div class="item-center">
                        <img alt="" src="images/block-icons/ico-branding.png">
                        <div class="block-text">BRANDING</div>
                    </div>
                </div>
                <div class="block mvc-framework layout-xs-6 layout-sm-3">
                    <div class="item-center">
                        <img alt="" src="images/block-icons/ico-code-per-day.png">
                        <div class="block-text">MVC FRAME WORK</div>
                    </div>
                </div>
                <div class="block front-end-dev layout-xs-6 layout-sm-3">
                    <div class="item-center">
                        <img alt="" src="images/block-icons/ico-coding.png">
                        <div class="block-text">FRONT-END DEV.</div>
                    </div>
                </div>
                <div class="stripe white">
                    <div class="deg right">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
                <div class="block interactive-animation layout-xs-6 layout-sm-3">
                    <div class="item-center">
                        <img alt="" src="images/block-icons/ico-interactive-animation.png">
                        <div class="block-text">INTERACTIVE DESIGN</div>
                    </div>
                </div>
                <div class="block layout-sm-6 quote hide-mobile">
                    <blockquote>
                        "Coming together is a beginning. Keeping together is progress. Working together is success."
                        <cite><i class="icon-twitter"></i> @UXDOTS</cite> 
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <!--about services end-->
    
    <!--team services end-->
    <div class="team layout-wrapper" team-dir>
        <div class="layout-container">
            <aside class="layout-sm-10">
                    <div class="content-half-block meet-our-family">
                        <h3 class="title">Meet our family</h3>
                        <h4>Here we’re, the men with full throttle to hit the gruelling walls.</h4>
                        <p>Meet us and know us in person. We’re a young side of highly passionate stories. Tap on the faces individually and skim through the passion we hold. </p>
                    </div>
            </aside>
            <aside class="layout-sm-2 hide-mobile"></aside>
        </div>
        <div class="layout-container"> 
            <div class="block-wrap team-listing">
                <div class="block layout-sm-3" team-member-finished-dir ng-repeat="member in team.teamMembers" ng-click="team.teamMemberPopup($index)" >
                    <div class="info-team">
                        <h3>{{member.name}}</h3>
                        <p>{{member.desigination}}</p>
                        <span class="view-popup"></span>
                    </div>
                    <img ng-src="{{member.image.medium}}" alt="UXB Team - {{member.name}}">
                </div>
                
                
                <div class="overlay-wrap angular-animate" ng-if="team.teamMemberPopupShow" ng-click="team.teamMemberPopup()">
                    <div class="overlay"></div>
                </div>
                <aside class="profile layout-container angular-animate" ng-if="team.teamMemberPopupShow"
                    ng-repeat="member in team.teamMembers.slice(team.memberIndex, team.teamMembers.length) | limitTo: 1">
                    <span class="team-left icon-arrow-thin-left" ng-click="team.teamLeft()" ng-if="team.leftOver"></span> 
                    <span class="team-right icon-arrow-thin-right" ng-click="team.teamRight()" ng-if="team.rightOver"></span>
                    <span class="icon-close" ng-click="team.teamMemberPopup()"></span>
                    <div class="layout-sm-6 profile-description-wrap">
                        <div class="profile-description">
                            <h3><span>I'm </span>{{member.name}}</h3> 
                            <h4>{{member.desigination}}</h4>
                            <p>{{member.aboutMe}}</p>
                            <div class="profile-social-media" ng-if="member.socialMedia" style="display:none;">
                                <span class="icon-profile-behance" ng-if="member.socialMedia.behance"></span>
                                <span class="icon-profile-dribbble" ng-if="member.socialMedia.dribbble"></span>
                                <span class="icon-profile-linkedin" ng-if="member.socialMedia.linkedin"></span>
                                <span class="icon-profile-twitter" ng-if="member.socialMedia.twitter"></span>
                            </div>
                        </div>
                    </div>
                    <div class="layout-sm-6 profile-photo">
                        <figure>
                            <img ng-src="{{member.image.large}}" alt="UXB Team - {{member.name}}">
                        </figure>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <!--team services end-->
    <!--client services start-->
    <div class="clients layout-wrapper">
        <div class="layout-container">
            <div class="layout-wrapper">
                <aside class="layout-sm-6">
                    <div class="content-half-block">
                        <h3 class="title">Client roll</h3>
                        <h4>Businesses we assisted to reach out what they dreamt.</h4>
                        <p>People at UXDOTS are intended to help clients all through since the very inception. We love doing it from the very scratch and give wings to our priceless clients.</p>
                    </div>
                </aside>
                <div class="layout-sm-6 block-wrap hide-mobile">
                    <div class="block"></div>
                </div>
                
                
                
                <div class="layout-sm-3 block-wrap client-logo angular-animate" ng-repeat="client in about.clients | limitTo:clientLimit">
                    <div class="block">
                       <img ng-src="{{client}}" alt=""> 
                    </div>
                </div>
                <div class="layout-wrapper hide-sm"></div>
                <div class="layout-sm-3 block-wrap  nex-client-btn" ng-show="nextClientBtn">
                    <div class="block" ng-click="addClient(clientLimit)">
                        <div class="item-center">
                            <i class="icon-arrow-thin-right hide-mobile"></i>
                            <i class="icon-arrow-thin-bottom hide-sm"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--client services end-->
</section>
<!--end about-panel-->