<!--start contact-panel-->
<section class="contact-panel layout-wrapper content-wrapper">
     <!--start contact-->
     <div class="contact">
         <div class="layout-container">
             <span class="contact-close" ng-click= "contact()"></span>
             <div class="layout-sm-6 pull-right-sm" form-dir>
             </div>
             <div class="layout-sm-6">
                 <aside class="contact-address">
                     <h3>SAY HELLO</h3>
                     <p>We are happy to answer any and all questions concerning our services. Please use the form below for all general inquiries. </p>
                     <address>
                         1st Floor, Lulu Cyber Tower-1 <br>Infopark, Kakkanad <br>Kochi - 682042, India 
                     </address>
                     <p><span><i class="icon-skype"></i>toobler.technologies</span> 
                     <a href="mailTo:uxd@toobler.com"><i class="icon-message"></i>uxd@toobler.com</a> 
                     <span><i class="icon-phone"></i>+91 484 4034359</span></p>
                     <div class="social-media">
                         <a class="icon-fb" target="_blank" href="https://www.facebook.com/pages/Toobler/120475471446"></a>
                         <a class="icon-linkedin" target="_blank" href="https://www.linkedin.com/company/toobler"></a>
                         <a class="icon-twitter" target="_blank" href="https://twitter.com/toobler"></a>
                     </div>
                 </aside>
             </div>
         </div>
     </div>
     <!--end contact-->
</section>
<!--end contact-panel-->