<div class="layout-container">
    <blockquote>
        <p>" Design is not just what it looks like and feels like. <br>
Design is how it works. " </p>
    <span>Steve Jobs</span>
    </blockquote>
    <div class="footer-bottom">
        <aside class="footer-toobler-uxdots"><img src="images/logo-footer.png"><span>We are a part of <br> Toobler technologies</span></aside>
        <span class="copy-right">&copy;  2016 UXDOTS. All Rights Reserved</span>
        <aside class="footer-social">
            <aside class="social-links">
                <a href="https://www.facebook.com/pages/Toobler/120475471446" target="_blank"><span class="icon-fb"></span></a>
                <a href="https://www.linkedin.com/company/toobler" target="_blank"><span class="icon-linkedin"></span></a>
                <a href="https://twitter.com/toobler" target="_blank"><span class="icon-twitter"></span></a>
            </aside>
            <a href="javascript:void(0)" ng-click="contact()">contact</a>
        </aside>
    </div>
</div>
 