

<!--approach start-->
<section class="approach">
    <div class="layout-container">
        <h2>A good design makes your work half done.</h2>
        <p>Every successful product has a great story scribed. It goes along with numerous patterns and procedures which make them a cluster of cavalcade itself.</p>
        <div class="great-company">
            <h3>Our Approach</h3>
                <figure>
                    <img src="images/home/development.gif" alt="Front-end Development">
                    <figCaption>Development</figCaption>
                </figure>
                <figure>
                    <img src="images/home/ui-design.gif" alt="UI Design">
                    <figCaption>UI Design</figCaption>
                </figure>
                <figure>
                    <img src="images/home/prototyping.gif" alt="Prototyping">
                    <figCaption>Prototyping</figCaption>
                </figure>
                <figure>
                    <img src="images/home/concept.gif" alt="Design Concept">
                    <figCaption>Concept</figCaption>
                </figure>
                <figure>
                    <img src="images/home/research.gif" alt="Design Research">
                    <figCaption>Research</figCaption>
                </figure>
        </div>
    </div>
</section>
<!--approach end-->

<!--home page main panel start-->
<section class="home-main-panel">
    <!--layout-container start-->
    <div class="layout-container">
        <!--work-with-us-panel start-->
        <div class="work-with-us-panel layout-wrapper">
            <div class="layout-sm-6">
                <div class="workwithus-carousel-wrap">
                    <h3 class="title">Why we’re superficial?</h3>
                    <div ng-controller="workWithUsCtrl" class="owl-work-withus">
                         <div class="item">
                             <h4>Creativity that influenced millions to harvest and build their dreams.</h4>
                             <p>Our works have been always experimental that depicted an unorthodox evolution in the UX/UI architecture.</p>
                         </div>
                         <div class="item">
                             <h4>Perfection that got refined ensuring the best workflow and zero patchup.</h4>
                             <p>We believe in perfection and that’s the fundamental rule we pass to every team member who joins a project at Toobler.</p>
                         </div>
                    </div>
                </div>
             </div>
            <div class="layout-sm-6">
                <aside class="stripe-wrap block-wrap">
                    <div class="stripe">
                        <div class="deg left">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="stripe">
                        <div class="deg right">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        </div>
                    </div>
                    <div class="block go-arrow layout-sm-6 hide-mobile" ng-click="home.goMajorWorks()">
                        <div class="item-center"> 
                            <i class="icon-down-arrow-metro"></i>
                            <span>major works</span>
                        </div>
                    </div>
                    <div class="stripe">
                        <div class="deg left bottom">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
        <!--work-with-us-panel end-->
        
        <!--major-works start-->
        <div class="major-works-panel layout-wrapper">
            <div class="owl-major-works" ng-controller="majorWorksCtrl as works">
                <div ng-repeat="work in works.work | filter: {showHome: true} | limitTo:6 " ng-repeat-owl-carousel carousel-init="works.carouselInitializer" ng-style="{background:work.primaryColor}" class="owl-bg"> 
                    <div class="layout-sm-6 heightset-major-works">
                        <figure class="major-works-img">
                            <img ng-src="{{work.image.imageHome}}" alt="" class="img-middle">
                        </figure>
                    </div>
                    <div class="layout-sm-6 heightset-major-works">
                        <div class="major-works-box">
                            <div class="table-cell">
                                <h2>{{work.name}}</h2>
                                <p>{{work.description | limitTo:150}}...</p>
                                <a ng-style="hoverStyle"  
                                 ng-mouseover="works.changeColor(work, true)" 
                                 ng-mouseleave="works.changeColor(work, false)" 
                                 ng-href="#/casestudy/{{work.name}}" class="btn-major-works">CASESTUDY</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--major-works end-->
        
        <!--block-wrap start-->
        <div class="block-wrap layout-wrapper">
            <div class="layout-sm-6">
                <a class="block more-works layout-xs-6" ng-href="#/work">
                    <span class="item-center">
                        <img src="images/block-icons/ico-seemoreworks.png" alt="UXDOTS more works">
                        <span class="block-text">see more works?</span>
                    </span>
                    
                </a>
                <a class="block work-with-us-link layout-xs-6" ng-href="#/approach">
                    <span class="item-center">
                        <img src="images/block-icons/ico-work-with-us-link.png" alt="UXDOTS approach">
                        <span class="block-text">our work approach</span> 
                    </span>
                </a>
            </div>
        </div>
        <!--block-wrap end-->
     
        <!--homeCtrl start-->       
        <div ng-controller="homeClientCtrl as homeClient"> 
            <!--meet-our-client start-->
            <div class="meet-our-client-panel layout-wrapper">
                <div class="layout-sm-6">
                    <div class="content-half-block meet-our-client-content"> 
                        <h3 class="title">Meet our euphoric clients</h3>
                        <h4>We usher businesses engineering requisites.</h4>
                        <p>Rather than just assisting people to bringing out their concepts into life, we put even more efforts to prompt the best approachable solutions for their needs.</p>
                    </div>
                </div>
                <div class="layout-sm-6 block-wrap">
                    <div class="meet-our-client">
                        <ul> 
                            <li ng-repeat="client in homeClient.clientsList.slice(homeClient.start, homeClient.end)" ng-class="['team-'+$index]" class="angular-animate">
                                 <img ng-src="{{client}}" alt="UXDOTS clients">
                            </li>
                        </ul>
                        <div class="block hide-mobile"></div>
                        <div class="prev-next-wrap layout-sm-6">
                        <div class="owl-prev" ng-click="homeClient.prev(homeClient.start, homeClient.end)"><i class="icon-arrow-thin-left"></i></div>
                        <div class="owl-next" ng-click="homeClient.next(homeClient.start, homeClient.end)"><i class="icon-arrow-thin-right"></i></div>
                        </div>
                    </div>
                </div>                
            </div>
            <!--meet-our-client end-->
 
            <!--block-wrap start-->
            <div class="block-wrap layout-wrapper">
                <div class="pull-right layout-sm-6 f-none-mobile">
                    <div class="stripe">
                        <div class="deg left">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <a href="#/about" class="block about-team layout-sm-6 hide-mobile">
                        <span class="item-center">
                            <img src="images/block-icons/ico-about.png" alt="About UXDOTS">
                            <span class="block-text">about the design team</span>
                        </span>
                    </a>
                </div>
            </div>
            <!--block-wrap end-->
        </div>
        <!--homeCtrl end-->
    
    </div>
    <!--layout-container end-->
    
    <!--image-flip-panel start-->
    <section class="image-flip-panel layout-wrapper" img-flip ng-if="width > 780">
        <div class="flip-container">
            <div class="img-flip img-flip-1-1">
                <div class="layer"></div>
                <div class="card"> 
                  <div class="front"> 
                    <img src="images/toobler/01.jpg" alt="UXDOTS work gallery">
                  </div> 
                  <div class="back">
                    <img src="images/toobler/02.jpg" alt="UXDOTS work gallery">
                  </div> 
                </div>
            </div>
            <div class="img-flip img-flip-2-2 stamp ">
                <div class="layer"></div>
                <div class="card"> 
                  <div class="front"> 
                    <img src="images/toobler/03.jpg" alt="UXDOTS work gallery">
                  </div> 
                  <div class="back">
                    <img src="images/toobler/04.jpg" alt="UXDOTS work gallery">
                  </div> 
                </div>
            </div>
            <div class="img-flip img-flip-2-1">
                <div class="layer"></div>
                <div class="card"> 
                  <div class="front"> 
                    <img src="images/toobler/05.jpg" alt="UXDOTS work gallery">
                  </div> 
                  <div class="back">
                    <img src="images/toobler/06.jpg" alt="UXDOTS work gallery">
                  </div> 
                </div>
            </div>
           
            <div class="img-flip img-flip-1-1">
                <div class="layer"></div>
                <div class="card"> 
                  <div class="front"> 
                    <img src="images/toobler/07.jpg" alt="UXDOTS work gallery">
                  </div> 
                  <div class="back">
                    <img src="images/toobler/08.jpg" alt="UXDOTS work gallery">
                  </div> 
                </div>
            </div>
            <div class="img-flip img-flip-1-1">
                <div class="layer"></div>
                <div class="card"> 
                  <div class="front"> 
                    <img src="images/toobler/09.jpg" alt="UXDOTS work gallery">
                  </div> 
                  <div class="back">
                    <img src="images/toobler/10.jpg" alt="UXDOTS work gallery">
                  </div> 
                </div>
            </div>
            <div class="img-flip img-flip-1-1">
                <div class="layer"></div>
                <div class="card"> 
                  <div class="front"> 
                    <img src="images/toobler/11.jpg" alt="UXDOTS work gallery">
                  </div> 
                  <div class="back">
                    <img src="images/toobler/12.jpg" alt="UXDOTS work gallery">
                  </div> 
                </div>
            </div>
            <div class="img-flip img-flip-2-2">
                <div class="layer"></div>
                <div class="card"> 
                  <div class="front"> 
                    <img src="images/toobler/04.jpg" alt="UXDOTS work gallery">
                  </div> 
                  <div class="back">
                    <img src="images/toobler/03.jpg" alt="UXDOTS work gallery">
                  </div> 
                </div>
            </div>
             <div class="img-flip img-flip-1-1">
                <div class="layer"></div>
                <div class="card"> 
                  <div class="front"> 
                    <img src="images/toobler/02.jpg" alt="UXDOTS work gallery">
                  </div> 
                  <div class="back">
                    <img src="images/toobler/01.jpg" alt="UXDOTS work gallery">
                  </div> 
                </div>
            </div>
        </div>
    </section>
    <!--image-flip-panel end-->
    
    <!--layout-container start-->
    <div class="layout-container">
        <!--block-wrap start-->
        <aside class="block-wrap hide-mobile">
            <div class="block deployed layout-sm-3">
                <div class="item-center">
                    <img src="images/block-icons/ico-deployed-projects.png" alt="UXDOTS Deployed Projects">
                    <span class="block-text"><cite class="bold">200</cite>Deployed Projects</span>
                    
                </div>
            </div>
            <div class="block music layout-sm-3">
                <div class="item-center">
                    <img src="images/block-icons/ico-music.png" alt="UXDOTS Plalist">
                    <span class="block-text"><cite class="bold">500</cite>Music in our playlist</span>
                </div>
            </div>
            <div class="block cup layout-sm-3">
                <div class="item-center">
                    <img src="images/block-icons/ico-cup.png" alt="UXDOTS cup of tea">
                    <span class="block-text"><cite class="bold">1000</cite>Cup of tea</span>
                </div>
            </div>
        </aside>
        <!--block-wrap end-->
        
         <!--uxdots-block start-->
         <div class="uxdots-block layout-wrapper block-wrap">
             <div class="layout-sm-6 stripe-wrap">
                <div class="stripe">
                    <div class="deg left">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
                <a href="#/about" class="uxdots block layout-sm-6 hide-mobile">
                    <span class="item-center">
                        <h2>UXDOTS</h2>
                        <span class="block-text">Want you know more?</span>
                    </span>
                </a>
                <div class="stripe">
                    <div class="deg right bottom">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
                <div class="stripe">
                    <div class="deg left bottom">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
             </div>
             <div class="layout-sm-6 uxdots-download-stuff hide-mobile"> 
                 <h3 class="semi-bold">Break the rules!</h3>
                 <h2 class="semi-bold">Don’t you love freaking out above?</h2>
                 <p>We love experimenting and wandering along a new path no one has ever explored yet. What’s so special in doing the already dones?</p>
                 <a href="javascript:void(0)" class="download">Need some help?</a>
             </div>
         </div>
         <!--uxdots-block end--> 
        
    </div>
    <!--layout-container end-->
    
</section>
<!--home page main panel end-->

<!--testimonial-panel start-->
<section class="testimonial-panel" ng-controller="homeTestimonialCtrl as testi">
    <!--layout-container start-->
    <div class="layout-container">
        <h2 class="bold">WHAT OUR CLIENT SAYS</h2>
        <div class="owl-testimonial">
            <div ng-repeat="testimo in testi.testimonials | filter: {testimonialShowHome: true} | limitTo:6" ng-repeat-owl-carousel carousel-init="testi.carouselInitializer">
                <div class="testimonial">
                    <h3 class="semi-bold">{{testimo.client}}</h3>
                    <span>{{testimo.clientProfession}}</span>
                    <p>{{testimo.testimonial}}</p>
                    <figure>
                        <img ng-src="{{testimo.clientImage}}" alt="UXDOTS Testimonials">
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <!--layout-container end-->
</section>
<!--testimonial-panel end-->


                     