<!--intro-stage start-->
<section class="intro-stage">
    <div class="banner">
        <div class="layout-container">
            <h1>Designers who digitally transfigure</h1>
            <p>A design is not just an outline. It’s the entire product’s body language.</p> 
        </div>
        <!--<div class="canvaswrap"><canvas id="myCanvas" resize></canvas></div>--> 
        <img ng-if="desktopScreen" src="images/line.svg" alt="">  
    </div>
    <div class="mouse_scroll">
        <div class="mouse">
            <div class="wheel"></div>
        </div>
    </div>
</section>
<!--intro-stage end-->